<table
  role="presentation"
  cellpadding="0"
  cellspacing="0"
  border="0"
  width="100%"
  style="
    background: url('https://s6.imgcdn.dev/YybnEC.png') no-repeat center center /
      contain;
    border-radius: 20px;
    padding-top: 31px;
    padding-bottom: 31px;
  "
>
  <tr>
    <td align="center" style="padding: 40px 20px 42px">
      <h3
        style="
          margin: 0;
          font-size: 20px;
          line-height: 21px;
          color: #ffffff;
          font-weight: 400;
          max-width: 242px;
        "
      >
        Spread the Word and<br />Win
        <span style="font-weight: 700; color: #3f87f4">Big!</span>
      </h3>

      <p
        style="
          padding-top: 5px;
          margin: 0;
          color: #cccccc;
          font-size: 10px;
          line-height: 18px;
          font-weight: 400;
          max-width: 302px;
        "
      >
        Here’s your unique sharing code to kick off your journey
      </p>

      <table
        role="presentation"
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="margin: 0 auto; padding-top: 16px"
      >
        <tr>
          <td
            align="center"
            style="
              background-color: #111111;
              border-radius: 36px;
              padding: 6px 28.2px;
              border: #ffffff 0.5px solid;
            "
          >
            <a
              href="https://yourlinkhere.xyz"
              aria-label="Open link"
              style="
                font-size: 17px;
                color: #ffffff;
                text-decoration: none;
                font-weight: 400;
              "
            >
              https://yourlinkhere.xyz
            </a>
          </td>

          <!-- gap for all mail clients -->
          <td width="7" style="font-size: 0; line-height: 0">&nbsp;</td>

          <td align="center">
            <a
              href="https://yourlinkhere.xyz"
              target="_blank"
              aria-label="Open link"
              style="
                display: table;
                background-color: #3f87f4;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
              "
            >
              <span style="display: table-cell; vertical-align: middle">
                <img
                  src="https://s6.imgcdn.dev/YybyQe.png"
                  width="15"
                  height="15"
                  alt="Link Icon"
                  aria-label="Link Icon"
                  style="display: block; border: 0; margin: 0 auto"
                />
              </span>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
